/* ================= MODAL ================= */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(18, 18, 18, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 20px;
  overflow: hidden; /* Evita scroll en overlay */
}

.modal-content {
position: relative;  
background-color: var(--negro);
  cursor: default;
  border-radius: 14px;
  width: 500px;
  max-width: 90%;
  max-height: 80vh;
  padding: 2rem; /* Espacio interno */
  box-shadow: 
    0 12px 30px rgba(10, 43, 92, 0.6),
    0 0 0 1px rgba(255, 255, 255, 0.02);
  border: 1px solid #262626;
  display: flex;
  gap: 15px;
  flex-direction: column;
  animation: fadeSlideIn 0.45s cubic-bezier(.22,.61,.36,1);
}

/* Contenedor interno para scroll */
.modal-body {
  overflow-y: auto;
  max-height: calc(80vh - 4rem);
  border-radius: 10px;
}

/* Scroll elegante */
.modal-body::-webkit-scrollbar {
  width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: var(--turquesa);
  border-radius: 4px;
}

.modal-body::-webkit-scrollbar-track {
  background: transparent; /* Track transparente evita que se vea fuera */
  border-radius: 4px;
}

/* Botón cerrar tipo admin */
.close-btn {
  cursor: pointer;
    align-self: flex-end; /* Asegura que se coloque a la derecha */
    background: #23232363;
    color: var(--turquesa);
    border: 2px solid var(--turquesa);
    width: fit-content;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.25s ease;
    font-size: large;
}

.close-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(30, 144, 255, 0.2);
}

/* Animación de entrada */
@keyframes fadeSlideIn {
  from { transform: translateY(6px); }
  to   { transform: translateY(0); }
}
