.wishlist-icon-container {
  position: relative;
  cursor: pointer;
  width: 25px;
}

.wishlist-icon {
  pointer-events: none;
  fill: transparent;       /* vacío por defecto */
  stroke: var(--gris-claro);         /* color del borde */
  stroke-width: 2.5;
  transition: transform 0.2s, fill 0.2s, stroke 0.2s;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 3px 1.5px rgba(0, 0, 0, 0.85));
}

.wishlist-icon.active {
  fill: var(--turquesa); 
  stroke: var(--azul-brand);
}

.wishlist-icon-container:hover .wishlist-icon {
  transform: scale(1.2);   /* animación de hover */
}

/* Tooltip */
.wishlist-tooltip {
  pointer-events: none;
  opacity: 0;
  width: max-content;
  background-color: var(--negro);
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--gris);
  position: absolute;
  z-index: 10;
  bottom: 15%;
  right: 150%;
  font-size: 0.8rem;
  transition: opacity 0.3s;
}

.wishlist-tooltip.visible {
  opacity: 0.8;
}
