# FRONTEND
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Builds
dist/
dist-ssr/
*.local

# BACKEND
# Eclipse / Spring Tool Suite
.project
.classpath
.settings/
bin/
tmp/
.metadata/

# Gradle
.gradle/
build/

# Mantener wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Spring Boot configs locales
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml


# EDITORES
# VS Code
.vscode/
!.vscode/extensions.json

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
*.prefs

# SISTEMA OPERATIVO
# macOS
.DS_Store

# Windows
Thumbs.db

# OTROS
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tmp