.buscador {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.buscador input {
  flex: 1;
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #2a2a2a;
  background: transparent;
  color: var(--gris);
  transition: border 0.2s;
}

.buscador input::placeholder {
  color: var(--gris);
}

.buscador input:focus {
  outline: none;
  border-color: var(--turquesa);
  color: var(--gris-claro);
}

/* Botón externo */
.limpiar-btn {
  padding: 0.4rem 0.7rem;
  border: 1px solid var(--gris);
  border-radius: 6px;
  background: transparent;
  color: var(--gris);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
}

.limpiar-btn:hover {
  color: var(--turquesa);
  border-color: var(--turquesa);
  background: #232323;
}
